/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* css reset begins here*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

html { font-size:100%; }

@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('type/lane/lanenar_-webfont.eot');
    src: url('type/lane/lanenar_-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/lane/lanenar_-webfont.woff') format('woff'),
         url('type/lane/lanenar_-webfont.ttf') format('truetype'),
         url('type/lane/lanenar_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	padding: 5%; 
}

table {
    margin: 0 auto;
}

table, th, td {
    border-spacing: 0.5rem; 
    border: 1px solid black;
    padding: 3%;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    margin: 30px;
}

p {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    padding: 8%;
}


span {
    color: #f00055;
}



.app {
    max-width: 400px;
    height: 700px;
    margin: 0 auto;
    border: 2px solid gray;
}

.foodpic {
    margin: 0 auto;
    width: 96%;
}


.go {
    float: left;
    width: 100%;
    padding: 5%;
}


h1 {
    font-size: 50px;
    font-family: 'lane_-_narrowregular';
    text-align: center;
}


.hello-content h1 {
	padding: 10%;
    color: #49E845; 
}

.intro-content h1 {
    padding: 10%;
    color: #3498db;
}

.food-check-in h1 {
    padding: 15%;
    color: #e73ce0;
}

.progress h1 {
    padding: 15%;
    color: #fc851f;
}


.intro-content {
    margin: 0 auto;
	width: 80%;
}



.save-button {
    float: left
    width: 30%;
    
}

.first-number,
.second-number {
    width: 80%;
    margin: 0 auto;
    padding: 2%;
}


.great {
	color: #e74c3c;
    font-size: 50px;
	font-family: 'lane_-_narrowregular';
    text-align: center;
    padding: 10%;
}


#grade {
    font-size: 34px;
	font-family: 'lane_-_narrowregular';
    text-align: center;
    padding: 10%;
}

.congrats {
    width: 100%;
    margin: 0 auto;    
}

.view {
    width: 34%;
    margin: 0 auto;   
}


h2 {
    font-size: 30px;
	font-family: 'lane_-_narrowregular';
    text-align: center;
    padding: 8%;
}

.setup h2 {
    font-size: 25px;
	font-family: 'Muli', sans-serif;
    text-align: center;
    padding: 8%
}


.date-time {
    margin: 0 auto;
    padding: 2%
}

.date,
.time {
    margin: 0 auto;
    padding: 5%;
}


.done {
    margin: 0 35%;
    padding: 2%
}

input {     
	border: 1px solid #006; 
}

label {
    font-family: 'Muli', sans-serif;
    padding: 2%;
}


.go-button {
    float: left;
    width: 100%
}

#go {
    margin: 0 32%;
    width: 100px;
    padding: 2%;

